@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
    position: relative;
    margin: 0px auto; 
}

nav {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    color: white; 
    padding-top: 25px; 
    padding-bottom: 25px; 
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', Helvetica, sans-serif;
    font-size: 72px; 
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-family: 'Fjalla One', Helvetica, sans-serif;
    font-size: 35px;
    color: #646b71;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px; 
}

h3 {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 600;
    font-size: 20px;
    color: #706a6a;
    margin-top: 0px;
    margin-bottom: 0px; 
}

h4 {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 300;
    font-style: italic; 
    font-size: 20px;
    color: #3a3635;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 300;
    font-size: 20px;
    color: #3a3635;
    max-width: 784px;
    position: relative; 
    margin: 0px auto; 
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 300;
    font-size: 20px;
    color: #3a3635;
    margin-left: 116.556px;
    margin-right: 116.556px;
    margin-top: 0px;
}

img {
    padding-top: 25px; 
    padding-bottom: 15px;
}

hr {
    width: 784px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #3a3635;
}

a {
    text-decoration: none;
    color: white; 
}

#section1 {
    position: relative;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #646b71;    
}

#section2 {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(209,213,216,0.25);
}

#section3 {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    color: white;
    padding-top: 25px;
    padding-bottom: 100px; 
    background-color: #3a3635;
}